
@font-face {
    font-family: 'tau_elango_kalyaniregular';
    src: url('tau_kaln-tamilunicode.eot');
    src: url('tau_kaln-tamilunicode.eot?#iefix') format('embedded-opentype'),
         url('tau_kaln-tamilunicode.woff') format('woff'),
         url('tau_kaln-tamilunicode.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}