<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.omtamil.kural"
        version   = "0.0.1">
		
    <name>OMTAMIL Kural</name>

    <description>
OMTAMIL Kural is initiated by OMTAMIL DOTCOM built around the goal of creating and providing great multi-language Thirukkural experience on all devices and platforms with clean and simple interface.
</description>

    <author href="http://omtamil.com" email="info@omtamil.com">
        OMTAMIL
    </author>
	
	<!-- Define app icon MAIN ROOT Platform. -->

<icon src="icon.png" />		

    <!--
        Enable individual API permissions here.
        The "device" permission is required for the 'deviceready' event.
    -->
    <feature name="http://api.phonegap.com/1.0/device" />
	
    <!--
        If you do not want any permissions to be added to your app, add the
        following tag to your config.xml; you will still have the INTERNET
        permission on your app, which PhoneGap requires.
    -->
    <preference name="permissions"  value="none"/>

      <!-- Customize your app and platform with the preference element. -->
  <preference name="phonegap-version" value="cli-8.0.0" />
     <preference name="AutoHideSplashScreen" value="false" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="ShowSplashScreen" value="true" />
    
    <preference name="ScrollEnabled" value="false" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="LoadUrlTimeoutValue" value="70000" />
    <preference name="CordovaWebViewEngine" value="CDVUIWebViewEngine" />
    

<!-- Plugins -->
    
<plugin name="cordova-plugin-apprate" spec="1.3.0" />
<plugin name="cordova-plugin-device" spec="1.1.7" />
<plugin name="cordova-plugin-inappbrowser" spec="1.7.2" />
<plugin name="cordova-plugin-nativestorage" spec="2.3.1" />
<plugin name="cordova-plugin-splashscreen" spec="5.0.2" />
<plugin name="cordova-plugin-whitelist" spec="1.3.3" />
<plugin name="ionic-plugin-keyboard" spec="2.2.1" />

    <!--
        <gap:plugin name="Example" />
        A list of available plugins are available at https://build.phonegap.com/docs/plugins
    -->
    


    <!-- Define app icon for each platform. -->
    <icon src="res/icon/android/icon-36-ldpi.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="res/icon/android/icon-48-mdpi.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="res/icon/android/icon-72-hdpi.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="res/icon/android/icon-96-xhdpi.png"  gap:platform="android"    gap:density="xhdpi" />
    <icon src="res/icon/ios/icon-57.png"            gap:platform="ios"        width="57" height="57" />
    <icon src="res/icon/ios/icon-72.png"            gap:platform="ios"        width="72" height="72" />
    <icon src="res/icon/ios/icon-57-2x.png"         gap:platform="ios"        width="114" height="114" />
    <icon src="res/icon/ios/icon-72-2x.png"         gap:platform="ios"        width="144" height="144" />
	
    <!-- Define app splash screen for each platform. -->

	<gap:splash src="res/screen/android/screen-ldpi-portrait.png" gap:platform="android" gap:density="ldpi" />
	<gap:splash src="res/screen/android/screen-mdpi-portrait.png" gap:platform="android" gap:density="mdpi" />
	<gap:splash src="res/screen/android/screen-hdpi-portrait.png" gap:platform="android" gap:density="hdpi"  />
	<gap:splash src="res/screen/android/screen-xhdpi-portrait.png" gap:platform="android" gap:density="xhdpi" />

<gap:splash src="res/screen/ios/screen-iphone-portrait.png"    gap:platform="ios"     width="320" height="480" />
<gap:splash src="res/screen/ios/screen-iphone-portrait-2x.png" gap:platform="ios"     width="640" height="960" />
<gap:splash src="res/screen/ios/screen-ipad-portrait.png"      gap:platform="ios"     width="768" height="1024" />
<gap:splash src="res/screen/ios/screen-ipad-landscape.png"     gap:platform="ios"     width="1024" height="768" />
	
	

</widget>
